numpy
pandas
matplotlib == 3.8.1
plotly
cufflinks
scikit-learn
seaborn
flask
Flask-Cors
openai
requests
dotenv
fastapi
uvicorn
pydantic
pygame
fpdf2
spotipy
deep-translator
deep_translator
pyttsx3
SpeechRecognition
qrcode
opencv-python
pyzbar
#PyQt6
#PySide6
#PyQt5
#PySide2
